*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    width: 100%;
    max-width: 50vw;
    margin: 3em auto;

    border: 1px solid red;
}
.container #title, #description
{
    width: 100%;
    text-align: center;
    
}
.container #description{
    margin: 1em 0;
}
form{
    padding:1.2em;
    width: 100%;
    display:flex;
    flex-direction:column;

    background-color: rgba(0, 0, 0, 0.5);
    color: #ddd;
}

form input, select{
    margin: 0 0 1.2em 0;
    padding: .5em;
}

form label{
    margin-bottom: 0.5em;
}

