*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container
{
    width: 100%;
    max-width: 50vw;
    margin: 3em auto;
}
.container #title, #description
{
    width: 100%;
    text-align: center;
    
}
.container #description{
    margin: 1em 0;
}
form{
    padding:1.2em;
    width: 100%;
    display:flex;
    flex-direction:column;

    background-color: rgba(0, 0, 0, 0.5);
    color: #ddd;
}

form input, select{
    margin: 0 0 1.2em 0;
    padding: .5em 0.8em;
    border: none;
    outline: none;
    height: 50px;
    font-size:larger;
    border-radius: .3em;
}

form label, form p{
    margin-bottom: 0.5em;
    padding: 0.3em;
    font-size: larger;
}

form p{
    text-align:center;
    padding: 1.3em;
}
[type="radio"], [type="checkbox"] {
    float:left;
    margin-right: 1em;
}
